In [1]:
import numpy as np
import pandas as pd

In [45]:
data = pd.read_csv("spam.csv",encoding= 'unicode_escape')
data.head(10)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [46]:
data['spam'] = data['type'].map({'spam':1, 'ham':0}).astype(int)
data.head(10)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0
5  spam  FreeMsg Hey there darling it's been 3 week's n...     1
6   ham  Even my brother is not like to speak with me. ...     0
7   ham  As per your request 'Melle Melle (Oru Minnamin...     0
8  spam  WINNER!! As a valued network customer you have...     1
9  spam  Had your mobile 11 months or more? U R entitle...     1

In [47]:
print("COLUMNS IN THE GIVEN DATA : ")
for col in data.columns:
    print(col)

COLUMNS IN THE GIVEN DATA :
type
text
spam

In [48]:
t = len(data['type'])
print("NO OF ROWS IN THE REVIEW COLUMN :",t)
t = len(data['text'])
print("NO OF ROWS IN THE LIKED COLUMN : ", t)

NO OF ROWS IN THE REVIEW COLUMN : 116
NO OF ROWS IN THE LIKED COLUMN :  116

In [49]:
data['text'][1] # before Tokenizatrion

'Ok lar... Joking wif u oni...'

In [50]:
#Tokenizing
def tokenizer(text):
    return text.split()

In [51]:
data['text'] = data['text'].apply(tokenizer)

In [52]:
data['text'][1] # After Tokenization

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [53]:
data['text'][1] #Before Stemming

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [54]:
#Stemming : The idea of remooving the suffix of a word and reducing different forms of a word to a core root.
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords = False)

In [55]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [56]:
data['text'] = data['text'].apply(stem_it)

In [57]:
data['text'][1] #After Stemming

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

In [58]:
data['text'][11] # Before Lemitization

['six',
 'chanc',
 'to',
 'win',
 'cash!',
 'from',
 '100',
 'to',
 '20,000',
 'pound',
 'txt>',
 'csh11',
 'and',
 'send',
 'to',
 '87575.',
 'cost',
 '150p/day,',
 '6days,',
 '16+',
 'tsandc',
 'appli',
 'repli',
 'hl',
 '4',
 'info']

In [59]:
#Lemmitization
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [60]:
def lemmit_it(text):
    return [lemmatizer.lemmatize(word, pos = "a") for word in text]

In [61]:
data['text'] = data['text'].apply(lemmit_it)

In [62]:
data['text'][11] #After Lemmitization

['six',
 'chanc',
 'to',
 'win',
 'cash!',
 'from',
 '100',
 'to',
 '20,000',
 'pound',
 'txt>',
 'csh11',
 'and',
 'send',
 'to',
 '87575.',
 'cost',
 '150p/day,',
 '6days,',
 '16+',
 'tsandc',
 'appli',
 'repli',
 'hl',
 '4',
 'info']

In [63]:
#Stopwords Removal
data['text'][12] # Before Stopwords removal

['urgent!',
 'you',
 'have',
 'won',
 'a',
 '1',
 'week',
 'free',
 'membership',
 'in',
 'our',
 'â£100,000',
 'prize',
 'jackpot!',
 'txt',
 'the',
 'word:',
 'claim',
 'to',
 'no:',
 '81010',
 't&c',
 'www.dbuk.net',
 'lccltd',
 'pobox',
 '4403ldnw1a7rw18']

In [64]:
from nltk.corpus import stopwords 
stop_words = stopwords.words('english')

In [65]:
def stop_it(text):
    review = [word for word in text if not word in stop_words]
    return review

In [66]:
data['text'] = data['text'].apply(stop_it)

In [67]:
data['text'][12] #After Stopwoeds Removal

['urgent!',
 '1',
 'week',
 'free',
 'membership',
 'â£100,000',
 'prize',
 'jackpot!',
 'txt',
 'word:',
 'claim',
 'no:',
 '81010',
 't&c',
 'www.dbuk.net',
 'lccltd',
 'pobox',
 '4403ldnw1a7rw18']

In [68]:
data.head(10)

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0
5  spam  [freemsg, hey, darl, 3, week, word, back!, i'd...     1
6   ham  [even, brother, like, speak, me., treat, like,...     0
7   ham  [per, request, mell, mell, (oru, minnaminungin...     0
8  spam  [winner!!, valu, network, custom, select, rece...     1
9  spam  [mobil, 11, month, more?, u, r, entitl, updat,...     1

In [69]:
data['text'] = data['text'].apply(''.join)

In [70]:
data.head()

   type                                               text  spam
0   ham  gojurongpoint,crazy..availonlibugingreatworldl...     0
1   ham                             oklar...jokewifuoni...     0
2  spam  freeentri2wklicompwinfacupfinaltkts21stmay2005...     1
3   ham                  udunsayearlihor...ucalreadisay...     0
4   ham                    nahthinkgoeusf,livearoundthough     0

In [71]:
#Transform Text Data into TDF/TF-IDF Vectors
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
y = data.spam.values
x = tfidf.fit_transform(data['text'])

In [72]:
from sklearn.model_selection import train_test_split
x_train, x_text, y_train, y_text = train_test_split(x,y,random_state = 1, test_size = 0.2, shuffle = False)

In [73]:
#Classification using Logistic Regression
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(x_train, y_train)
y_pred = clf.predict(x_text)

from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred, y_text)*100
print("Accuracy : ",acc_log)

Accuracy :  87.5

In [74]:
#Classification using LinearSVC Accuracy
from sklearn.svm import LinearSVC

linear_svc = LinearSVC(random_state = 0)
linear_svc.fit(x_train, y_train)
y_pred = linear_svc.predict(x_text)
acc_linear_svc = accuracy_score(y_pred, y_text) *100
print("Accuracy : ",acc_linear_svc)

Accuracy :  87.5